@use "@/styles/variables.scss" as *;

.label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;

  span {
    margin: 0 0 3px 0;
  }
}

.input {
  background-color: $helper-40;
  border-radius: $border-radius-s;
  padding: 8px 10px;
  font-size: 14px;
  outline: none;
  border: 2px solid transparent;
  transition: border 0.3s ease-out;

  &:hover,
  &:focus {
    border: 2px solid $helper;
  }

  &.extraPadding {
    padding: 8px 35px 8px 10px;
  }
}

.showPassword {
  padding: 5px;
  background-color: transparent;
  border-radius: $border-radius-s;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  position: absolute;
  right: 5px;
  bottom: 3px;

  &:hover,
  &:focus {
    border: 2px solid $secondary;
  }
}
