@use "@/styles/variables.scss" as *;

.label {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  span {
    margin: 0 0 3px 0;
  }
}

.input {
  background-color: $helper-40;
  border-radius: $border-radius-s;
  padding: 8px 10px;
  font-size: 14px;
  outline: none;
  border: 2px solid transparent;
  transition: border 0.3s ease-out;

  &:hover,
  &:focus {
    border: 2px solid $helper;
  }
}
