@use "@/styles/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.validationError {
  color: $accent;
}

.inputError,
.inputError:focus,
.inputError:hover {
  border: 2px solid $accent;
}
