@use "@/styles/fonts.scss" as *;
@use "@/styles/variables.scss" as *;

.card {
  width: 200px;
  min-height: 150px;
  border: 1px solid $text-dark;
  border-radius: $border-radius-m;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid $secondary;
    background-color: $helper-40;
  }
}

.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom {
  align-self: flex-start;
  color: $secondary;
}
