@use "@/styles/variables.scss" as *;

.wrapper {
  border: 1px solid $text-dark;
  border-radius: $border-radius-m;
  padding: 20px;
}

.heading {
  margin: 0;
}

.flightTaskContainer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.fieldManagement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
