@font-face {
  font-family: "manrope-light", sans-serif;
  src: url("../assets/fonts/Manrope-Light.ttf") format("opentype");
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "manrope-regular", sans-serif;
  src: url("../assets/fonts/Manrope-Regular.ttf") format("opentype");
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "manrope-medium", sans-serif;
  src: url("../assets/fonts/Manrope-Medium.ttf") format("opentype");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "manrope-bold", sans-serif;
  src: url("../assets/fonts/Manrope-Bold.ttf") format("opentype");
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "manrope-extrabold", sans-serif;
  src: url("../assets/fonts/Manrope-ExtraBold.ttf") format("opentype");
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
