// COLORS
$page: #f9faff;
$text-dark: #111216;
$text-light: #f0f0f0;
$primary: #99a8f3;
$secondary: #2f44ac;
$accent: #e52c29;
$helper: #adb3b3;
$helper-40: rgba($helper, 0.4);

// BORDER_RADIUS
$border-radius-l: 20px;
$border-radius-m: 12px;
$border-radius-s: 8px;
