@use "@/styles/variables.scss" as *;

.header {
  background-color: $helper;
  height: 80px;
  border-bottom-left-radius: $border-radius-l;
  border-bottom-right-radius: $border-radius-l;
}

.headerBody {
  height: 100%;
  display: flex;
  align-items: center;
}
