@use "@/styles/variables.scss" as *;

.underline {
  text-decoration: underline;
}

.contentWrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));

  &.lockInterface {
    pointer-events: none;

    .lockInterfaceStatus {
      color: $accent;
    }
  }
}

.rowInfo {
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.blueSelect {
  background-color: $secondary;
}

.link {
  background-color: $helper-40;
  border-radius: $border-radius-m;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  margin: 10px 0 0 0;
  transition: all 0.3s ease;
  border: 1px solid transparent;

  &:hover {
    background-color: $page;
    border: 1px solid $secondary;
  }
}
